<h1> Articles listing </h1>


<table>
  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>